/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: large;

  margin: 30px;
}

img{
  padding: 15px;
  width: 250px;
  height: 300px;
}
/* Buttons */

.btn {
  align-items: center;
  appearance: button;
  background-color: #2d2d2e;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.btn:active {
  background-color: #194983;
}

.btn:hover {
  background-color: #194983;
}

.been-read{
  background-color: rgb(69, 105, 69);
}
.not-read{
  background-color:rgb(241, 61, 61);
}
.book{
  width: 600px;
  height: 420px;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
}

.book-title{
  color: white;
  font-size: larger;
  font-weight: bold;
}
/* Headings */
.heading-underline {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  /* font-size: 1rem; */
  /* font-weight: 600; */
  text-transform: uppercase;
  width: 350px;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1.5px;
  max-width: 200px;
  background: #000000;
}

li {
  list-style-type: none; 
}


@media screen and (min-width: 992px) {
  .navbar-brand > img {
    max-height: 80px;
  }
}
