#reading-list {
  list-style-position: outside;
  padding-left: 2em;
}

#reading-list li {
  margin-bottom: 1.5em;
  padding: 0.5em;
}

#reading-list li p {
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

#reading-list li img {
  height: 200px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
