/** Write your CSS in here **/
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4244c7;
  font-family: Arial, sans-serif;
}
.greeting {
  color: #fff;
  margin-bottom: 50px;
  font-size: 24px;
}
.quote-box {
  background: #f0f0f0;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

blockquote { 
    margin: 0 0 10px; 
    font-size: 28px; 
    color: #080706c7; 
    font-style: italic;
    font-weight: bold;
}
.author {  
    margin: 0 0 15px; 
    color: #1d0daf; 
    font-size: 20px; 
    font-weight: bold; 
}

.btn {
  background: #4244c7;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover { background: #eb2f48; }
