/** Write your CSS in here **/

body {
  background-color: #121212;   
  color: #ffffff;              
  font-family: Arial, sans-serif; 
  height: 100vh;               
  display: flex;               
  flex-direction: column;      
  justify-content: center;     
  align-items: center;         
  margin: 0;                   
}

/** style the quote **/
#quote {
  font-size: 1.8rem;        
  max-width: 600px;        
  text-align: center;       
  margin-bottom: 10px;      
}

/** Style the author text **/

#author {
  font-size: 1.2rem;
  color: #aaaaaa;           
  margin-bottom: 20px;
}

/** style the button dark mode **/

#new-quote {
  background-color: #1e1e1e;     
  color: white;                  
  border: 2px solid #444;        
  padding: 10px 20px;            
  border-radius: 5px;            
  cursor: pointer;              
  font-size: 1rem;             
  transition: 0.3s;              
}

/** button hover effect **/

#new-quote:hover {
  background-color: #333;     
  border-color: #777;         
}


