.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
}

h1 {
  text-align: center;
}

.flash {
  animation: flash 500ms infinite;
}

@keyframes flash {
  0%, 49% {
    background: white;
  }
  50%, 100% {
    background: red;
  }
}