.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 15px;
  width: 150px;
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
