.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.08);
  background: #fcfcfc;
  padding: 30px;
  width: 20%;
}
h1 {
  text-align: center;
  font-size: 1.3rem;
}
input,
button {
  font-size: 1.1rem;
}
